.login {
    display: flex;
    flex-wrap: wrap;
}

.login .child-bg-img{
    width: 50%;
    height: 100vh;
}

.login .child-bg-img .img{
    width: 50%;
    margin: 22%;
    height: 50%;
}

.login .child-other{
    width: 50%;
}

.login .child-other .logo{
    align-self: center;
    margin-top: 8%;
}

.login .child-other .logo img{
    height: 12vh;
    width: 12vh;
    margin: auto 43%;
    background-color: white;
}

.login .child-other .credentials{
    height: 85vh;
    width: 65vh;
    margin: 5% 18%;
    border-radius: 10px;
    padding: 5%;
    background-color: #F3FAFD;
    border: 2px solid #10719A;
}

.login .child-other .credentials h3{
    color: #10719A;
    font-size: 24px;
}

.login .child-other .credentials h4{
    font-size: 16px;
    font-weight: lighter;
}

.login .child-other .credentials p{
    font-size: 20px;
    font-weight: 400;
}

.login .child-other .credentials input[type=text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login .child-other .credentials input[type=submit] {
    width: 100%;
    background-color: #10719A;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.login .child-other .credentials h5 {
    width: 80%; 
    text-align: center; 
    background-color: #F3FAFD;
    border-bottom: 0.5px solid #C8D2D6; 
    line-height: 0.005em;
    color: #000;
    font-size: 12px;
    font-weight: lighter;
    margin: 25px;
 } 
 
 .login .child-other .credentials h5 span { 
     background:#F3FAFD; 
     padding:0 10px; 
 }

 .login .child-other .credentials .google{
    /* width: 100%; */
    /* height: 60px; */
    background-color: white;
    color: black;
    margin: 8px 0;
    padding: 0 7% 0 7%;
    border: 1px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
 }
 .login .child-other .credentials .google div .goo-img{
    height: 40px;
    width: 40px;
    margin-right: 60px;
    margin-top: -5%;
 }


 .login .child-other .credentials .google > div{
    display: inline-block;
    text-align: center;
 }

@media screen and ( height: 400px ) {
   
}

@media screen and ( min-height: 700px ) {
   
}

@media screen and ( max-height: 699px ) {
    
}