.login {
    display: flex;
    flex-wrap: wrap;
}

.login .child-bg-img{
    width: 60%;
    height: 100vh;
}

.login .child-bg-img .img{
    width: 100%;
    height: 100vh;
}

.login .child-other{
    width: 40%;
}

@media screen and ( height: 400px ) {
   
}

@media screen and ( min-height: 700px ) {
   
}

@media screen and ( max-height: 699px ) {
    
}